.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 5px;
  img {
    width: 226px;
    height: 216px;
    object-fit: contain;
    margin-bottom: 5px;
  }
  .Card-Content {
    min-width: 80%;
    min-height: fit-content;
    padding: 0 5px;
    border-radius: 10px;
    background-color: gainsboro;
    color: #000;
    .Card-Chips {
      padding: 5px;
      display: flex;
      align-items: center;
    }
    p {
      margin: 5px;
      font-size: larger;
      font-weight: bold;
    }
  }
}
